:root,
html,
body,
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    --text: rgb(15, 15, 15);
    --background: rgb(244, 244, 244);
    --primary: rgb(219, 219, 219);
    --secondary: rgb(235, 135, 135);
    --accent: rgb(234, 79, 79);
}

:root {
    --text: rgb(15, 15, 15);
    --background: rgb(244, 244, 244);
    --primary: rgb(219, 219, 219);
    --highlight: rgb(175, 175, 175);
    --secondary: rgb(235, 135, 135);
    --accent: rgb(234, 79, 79);
    --correct: rgb(175, 225, 187);

    --text-dark: rgb(240, 240, 240);
    --background-dark: rgb(0, 0, 0);
    --primary-dark: rgb(36, 36, 36);
    --secondary-dark: rgb(118, 20, 20);
    --accent-dark: rgb(178, 21, 21);
}

.App {
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: var(--background);
}

.header {
    background-color: var(--secondary);
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.header .header-text {
    margin-left: 30px;
}

.header .sub-text {
    font-size: 15px;
    align-self: flex-end;
    margin: 0 0 9px 9px;
}

.header .sub-text a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.header .sub-text a .direct-arrow {
    font-size: 12px;
    font-weight: bold;
}

.main {
    height: calc(100vh - 50px);
    width: 100%;
    background-color: var(--background);
    padding: 30px;
}

.topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.topic-tag {
    margin-right: 15px;
    font-size: 25px;
}

form {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.topic-box,
.form-button {
    box-sizing: border-box;
}

.topic-box {
    height: 100%;
    /* width: 100%; */
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary);
    font-size: 25px;
}

.form-button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 10px;
    padding: none;
    margin-left: 15px;
}

.form-button.enter {
    font-size: 25px;
    cursor: pointer;
    background-color: var(--accent);
    transition: background-color 0.2s;
}

.form-button.enter.disabled {
    background-color: var(--secondary);
}

.form-button.enter.disabled:focus,
.form-button.enter.disabled:hover {
    outline: none;
    cursor: default;
}

.form-button.redo {
    font-size: 40px;
}

.topic-box:focus,
.form-button:focus,
.form-button:hover {
    outline: 2px solid black;
}

.question-box {
    margin-top: 20px;
}

.question-container {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--primary);
}

.answer-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.answer {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    border: 2px solid var(--highlight);
    transition: border 0.2s, background-color 0.2s;
    border-radius: 10px;
    background-color: var(--background);
    color: var(--text);
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

.answer:hover {
    border: 2px solid var(--text);
    cursor: pointer;
}

.answer.incorrect {
    background-color: var(--secondary);
    border: 2px solid var(--text);
    cursor: default;
}

.answer.correct {
    background-color: var(--correct);
    border: 2px solid var(--text);
    cursor: default;
}

.answer.disabled {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    cursor: default;
}

.feedback-box {
    margin-top: 20px;
}